<% provide :title, t(".edit_title") %>
<% provide :button_text, t(".edit_submit") %>
<h1><%= t ".edit_title" %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "form" %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank"><%= t ".edit_avatar" %></a>
    </div>
  </div>
</div>
